[
 "My Random-Tweeter lambda function created this tweet!"
 "Some other shit"
 "cheay"
 "Did you know ctrl + command + space opens up an emoji keyboard on mac OS?"
 "@Spectacle is currently my favorite window manager for MacOS!"
 "Gatsby is an excellent React implementation from which you can build ultra fast webapps!"
 "With all the hype for the new Angular, I can't help but fire up the old ng cli!"
 "Shoutout to everyone who fights through adversity and doesn't give up. "
 ]
  